body {
    background-color: lightslategray;
    text-align: center;
    font-family: 'ZCOOL KuaiLe', cursive;
    border: 5px solid black;
    border-radius: 20%;
}

#box {
    display: grid;
    grid-template-columns: repeat(28, 1fr);
	text-align: center;
    margin: 50px auto ;
    padding-left: 4em;
    padding-right: 4em;
    box-sizing: content-box;
    cursor: pointer;
}
.col {
    background: #333;
    height: 30px;
    margin-top: -6px;
    padding: 0;
    width: 100%;
}
/* BELOW IS THE MODAL STYLING */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.9); 
} 

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 30%;
    width: 70%; 
}

button{
    background-color: lightgray;
}